@using LiquorStoreFinalProject.ViewModels;
@model GetPaginatedProductVM;
@{
    ViewData["Title"] = "Index";
}

<div class="container my-3">
    <h2 class="text-center">Sliders</h2>
    <div class="create-btn ">
        <a asp-action="Create" class="btn btn-success btn-rounded btn-fw">Create</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td class="py-1">
                            <img src="~/img/@product.ImageURL" style="width:100px;height:150px" />
                        </td>
                        <td class="py-1">
                            @product.Name
                        </td>
                        <td class="py-1">
                            @product.Description
                        </td>
                        <td class="py-1">
                            @product.Price
                        </td>
                        <td class="py-1">
                            @product.DiscountId
                        </td>
                        <td class="py-1">
                            @product.CategoryName
                        </td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary btn-rounded btn-fw">Detail</a>
                            <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning btn-rounded btn-fw">Edit</a>
                            <form style="display: inline-block;" method="post" asp-action="Delete" asp-route-id="@product.Id">
                                <button type="submit" class="btn btn-danger btn-rounded btn-fw">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="pagination d-flex justify-content-center mt-3">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @*@(Model.Pages ? "" : "disabled")*@">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.Pages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                            <a class="page-link @(Model.CurrentPage == i ? "active-paginate" : "")" asp-route-page="@i">@i</a>
                        </li>
                    }

                    <li class="page-item@* @(Model.Pages ? "" : "disabled")*@">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


